<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>692007462490-9eg2n7ul7ks2r8idf6ek8nrm35nob2bv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.692007462490-9eg2n7ul7ks2r8idf6ek8nrm35nob2bv</string>
	<key>API_KEY</key>
	<string>AIzaSyDh6y3yQ7mPCwOXMnEVORrvwtamiDGRyng</string>
	<key>GCM_SENDER_ID</key>
	<string>692007462490</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Learning.eCoffee</string>
	<key>PROJECT_ID</key>
	<string>ecoffee-8a29c</string>
	<key>STORAGE_BUCKET</key>
	<string>ecoffee-8a29c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:692007462490:ios:515a6c5d0eb9f33af15a63</string>
</dict>
</plist>